html {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 1.1rem;
}
* {
    box-sizing: border-box;
}
body {
    background-color: gainsboro;
}
main {
    background-color: white;
}
h1, h2, h3, h4, nav {
    font-family: 'Abel', sans-serif;
    font-weight: bold;
}
header, footer {
    padding: 1px 0rem;
}
h2 {
    width: 100%;
}
h2, article, section, nav, #desc {
    padding: 0.4em 0rem;
}
a:link {
    text-decoration: none;
}
ul, h4, #bottom p, #bottom nav {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
li, .skill-demo, .skill-list {
    padding: 0.6em;
    margin: 0.2em;
    background-color: aliceblue;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
}
.skill-list, #bottom {
    display: flex;
}
.skills {
    flex-grow: 1;
}
#bottom {
    justify-content: space-between;
}
img {
    max-width: 100%;
}
#image-credit{
    margin: 1rem auto;
}
#bottom nav{
    display: none;
}
#bottom p{
    margin: auto 0;
}
@media screen and (min-width: 768px) {
    header {
        background-image: url(../img/vecteezy_ocean-surface-calm-middle-sea-with-yacht-clouds-hills_7818625.jpg);
        color: black;
        text-shadow: 1px 1px 0 white;
    }
    header img {
        margin: 1em;
    }
    nav ul, #desc, #skill, #portfolio, #bottom nav {
        display: flex;
    }
    nav ul {
        justify-content: center;
    }
    nav li{
        background-color: rgba(0, 0, 0, 0);
    }
    #desc {
        flex-direction: row-reverse;
        text-align: left;
    }
    #skill, #portfolio {
        flex-wrap: wrap;
    }
    .project, .skill-demo {
        flex-grow: 1;
        background-clip: content-box;
        padding: 1em;
        width: 50%;
    }
    #bottom nav li{
        flex: 1 300px;
    }
    #bottom h4{
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .project, .skill-demo {
        width: 33%;
    }
    main {
        background-color: gainsboro;
    }
    main .wrapper {
        background-color: white;
        padding: 0 1em;
    }
    #top {
        display: flex;
    }
    h1 {
        margin-left: 0em;
        margin-right: auto;
    }
}